<!--
    Canvas Drawing -- Emerging Technologies Project 2019
    Author -- Morgan Reilly G00303598
    References:
        * https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial
        * https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIGIT RECOGNISER</title>

    <!-- Links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mnist-input.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onload="init()">
    <!-- Title -->
    <div id="title" class="center_divs">
        <h1>DIGIT RECOGNISER</h1>
        <h2>MNIST | KERAS</h2>
    </div>

    <!-- Canvas -->
    <div id="canvas" class="center_divs">
        <canvas id="canvasMNIST" width="400", height="400"></canvas>
        <img id="canvas_img">
    </div>

    <!-- Buttons -->
    <div id="buttons" class="center_divs">
        <button type="button" class="btn btn-info" id="clr" onclick="erase()">Erase Canvas</button>
        <form method="POST">
            <button type="button" class="btn btn-info" id="publish" onclick="send()">Make Prediction</button>
        </form>
    </div>

    <!-- Prediction -->
    <div class="center_divs" align="horizontal">
        <h2>Prediction: </h2>
        <p id="prediction"></p>
    </div> 

</body>

<!-- Scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mnist-input.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>