canvas {
    background-color: black;
    border-color: greenyellow;
    border-style: solid;
}

.container {
    border-color: blue;
    border-style: dashed;
    padding: 2%;

}

.canvas {
    /*
    border-color: red;
    border-style: solid;
     */
}

#info {
    width: 60%;
    float: left;
    text-align: center;
}

footer {
    margin-top: 3%;
    background-color: lightgray;
}

.form-group {
    border-color: green;
    border-style: solid;
    margin-left: 7%;
    margin-top: 2%;
    padding: 3%;
    text-align: center;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.erase_button{
    /*
    border-color: red;
    border-style: solid;
     */
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.submit_button{
    /*
    border-color: red;
    border-style: solid;
     */
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 30%;
}