canvas {
    background-color: black;
    border-color: greenyellow;
    border-style: solid;
    margin: 10%;
}

.container {
    border-color: blue;
    border-style: dashed;
}

.canvas {
    border-color: red;
    border-style: solid;
    margin-left: 3%;
    margin-right: 3%;
}

#body_div {
    background-color: grey;
}

#info {
    border-color: red;
    border-style: solid;
    width: 60%;
    float: left;
    text-align: center;
}

#input {
    border-color: orange;
    border-style: solid;
    width: 40%;
    float: right;
    text-align: right;
}

#predict_button {
    border-color: yellow;
    border-style: solid;
    width: 50%;
    float: right;
    text-align: right;
}

#erase_button {
    border-color: green;
    border-style: solid;
    width: 50%;
    float: left;
    text-align: left;
}

.selector-for-some-widget {
    box-sizing: content-box;
}